<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/formStyle.css" />
    <title>Gaming World</title>
</head>
<body>
    <form action="/users/login" method="POST">
    {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
        <div class="alert alert-success">{{error_msg}}</div>
    {{/if}}
    
    {{> _error}}
    
    <h1 class="text-center display-4" style="color:#FFF;">Sign In</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-block mt-3 mb-3">Login</button>
        <a href="/users/register" style="color:#FFF;">Not Registerd? Click To Register!!!</a>
    </form>
</body>
</html>